{% extends "app/base.html" %}

{% block content %}
  <div class="row justify-content-md-center mt-4">
    <div class="col-12 mb-4">
      <div class="card bg-yellow-alt shadow-sm">
        <div class="card-header d-flex flex-row align-items-center flex-0">
            <div class="d-block">
                <div class="h5 font-weight-normal mb-2">Sales Value</div>
                <h2 class="h3">$10,567</h2>
                <div class="small mt-2"> 
                    <span class="font-weight-bold mr-2">Yesterday</span>                              
                    <span class="fas fa-angle-up text-success"></span>                                   
                    <span class="text-success font-weight-bold">10.57%</span>
                </div>
            </div>
            <div class="d-flex ml-auto">
                <a href="#" class="btn btn-secondary text-dark btn-sm mr-2">Month</a>
                <a href="#" class="btn btn-primary btn-sm mr-3">Week</a>
            </div>
        </div>
        <div class="card-body p-2">
          <canvas id="richard-chart"></canvas>
        </div>
    </div>
    </div>
  </div>
{% endblock %}

{% block extra_scripts %}
  <script src="/static/js/Chart.min.js"></script>
  <script>
    var ctx = document.getElementById('richard-chart').getContext('2d');
    var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'horizontalBar',
      // The data for our dataset
      data: {
          labels: {{ labels | safe }},
          datasets: [{
              label: 'My First dataset',
              backgroundColor: 'rgb(255, 99, 132)',
              borderColor: 'rgb(255, 99, 132)',
              data: {{ data }}
          }]
      },
      options: {
        legend: { display: false },
        title: {
          display: true,
          text: 'Predicted world population (millions) in 2050'
        }
      }
  });
    // alert('here');
    console.log('here');
    console.log(chart);
  </script>
{% endblock %}