{% extends "app/base.html" %}

{% block content %}
<div class="py-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
      <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
      <li class="breadcrumb-item"><a href="#">App</a></li>
      <li class="breadcrumb-item active" aria-current="page">Kelompok Tani</li>
    </ol>
  </nav>
  <div class="d-flex justify-content-between w-100 flex-wrap">
    <div class="mb-3 mb-lg-0">
      <h1 class="h4">Tambah Data Kelompok Tani</h1>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-6">
    <div class="card border-light shadow-sm">
      <div class="card-body">
        <form method="post" action="/app/data/{{item.id}}/edit" enctype="multipart/form-data">

          <div class="mb-4">
              <label for="nama">Nama Kelompok Tani</label>
              <input value="{{item.nama}}" type="text" name="nama" class="form-control" id="nama">
          </div>

          <div class="mb-4">
              <label for="nama">Desa</label>
              <select class="form-select" name="id_desa">
                <option disabled>Pilih Desa</option>
                {% for opt_desa in desa_list %}
                  <option 
                    value="{{opt_desa.id}}"
                    {% if item.id_desa == opt_desa.id %}
                      selected
                    {% endif %}
                  >{{ opt_desa.nama }}</option>
                {% endfor %}
              </select>
          </div>

          <div class="mb-4">
              <label for="nama">Jumlah Anggota</label>
              <input value="{{item.jumlah_anggota}}" type="number" min="0" name="jumlah_anggota" class="form-control" id="jumlah_anggota">
          </div>

          <div class="mb-4">
              <label for="nama">Nama Ketua</label>
              <input value="{{item.ketua}}" type="text" name="ketua" class="form-control" id="ketua">
          </div>

          <div class="mb-4">
              <label for="nama">Tanggal Pembentukan</label>
              <input value="{{item.tanggal_pembentukan}}" type="date" name="tanggal_pembentukan" class="form-control" id="tanggal_pembentukan">
          </div>

          <div class="mb-4">
              <label for="nama">Luas Lahan</label>
              <input value="{{item.luas_lahan}}" type="number" min="0" name="luas_lahan" class="form-control" id="luas_lahan">
          </div>

          <div class="mb-4">
              <label for="nama">Kartu Kelompok Tani</label>
              <select class="form-select" name="kartu_kt">
                <option {% if item.kartu_kt == 5 %} selected {% endif %} value="5">Memiliki Kartu Kelompok</option>
                <option {% if item.kartu_kt == 1 %} selected {% endif %} value="1">Tidak Memiliki Kartu Kelompok</option>
              </select>
          </div>

          <div class="mb-4">
              <label for="nama">Proposal</label>
              <select class="form-select" name="proposal">
                <option {% if item.proposal == 5 %} selected {% endif %} value="5">Memenuhi Semua Kelengkapan</option>
                <option {% if item.proposal == 1 %} selected {% endif %} value="1">Tidak Memenuhi Kelengkapan</option>
              </select>
          </div>

          <div class="mb-4">
              <label for="nama">Status Lahan</label>
              <select class="form-select" name="status_lahan">
                <option {% if item.status_lahan == 5 %} selected {% endif %} value="5">Sertifikat Kepemilikan Tanah</option>
                <option {% if item.status_lahan == 4 %} selected {% endif %} value="4">Surat Bukti Lahan diluar Hutan Lindung</option>
                <option {% if item.status_lahan == 3 %} selected {% endif %} value="3">Surat Bukti Lahan Bukan Sengketa</option>
                <option {% if item.status_lahan == 2 %} selected {% endif %} value="2">Surat Bukti Sewa Atau Kontrak</option>
                <option {% if item.status_lahan == 1 %} selected {% endif %} value="1">Tidak Ada</option>
              </select>
          </div>

          <button class="btn btn-success mt-2" type="submit">Simpan</button>
          <!-- End of Form -->
          <!-- Form -->
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}